footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: rgb(228, 220, 220);

    @media all and (max-width: $mobile-size) {
        height: auto;
    }

    .footer-container {
        @media all and (max-width: $tablet-size) {
            display: flex;
            // justify-content: space-between;
            padding: 10px;
        }

        @media all and (max-width: $min-size) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .weather {
            position: absolute;
            left: 3%;
            bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            border-radius: 20px;
            background-color: darken($color: rgb(228, 220, 220), $amount: 5);

            @media all and (max-width: $tablet-size) {
                position: initial;
                width: 20%;
                margin-right: 20px;
            }

            @media all and (max-width: $mobile-size) {
                width: 60%;
                padding: 5px;
            }

            @media all and (max-width: $min-size) {
                width: 50%;
            }

            h3 {
                margin: 0px;

                @media all and (max-width: $tablet-size) {
                    font-size: 1.1rem;
                }
            }

            &__infos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .newsletter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media all and (max-width: $tablet-size) {
                width: 50%;
            }

            @media all and (max-width: $mobile-size) {
                width: 100%;
            }

            &__icone {
                position: absolute;
                right: 5%;
                top: 15%;
                margin: 0px;

                @media all and (max-width: $mobile-size) {
                    display: none;
                }
            }

            &__inscription {

                @media all and (max-width: $tablet-size) {
                    width: 100%;
                    text-align: center;
                }

                p {
                    position: relative;
                    font-size: 1.2rem;
                    margin: 10px 0px;

                    @media all and (max-width: $mobile-size) {
                        font-size: 1rem;
                    }
                }

                form {
                    @media all and (max-width: $mobile-size) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    input[type=email],
                    input[type=text] {
                        width: 300px;
                        height: 30px;
                        padding: 5px;
                        margin-right: 5px;
                        border-radius: 50px;

                        @media all and (max-width: $mobile-size) {
                            width: 80%;
                            margin-bottom: 5px;
                        }

                        @media all and (max-width: $mobile-size) {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .copyright {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media all and (max-width: $tablet-size) {
                width: 100%;
                text-align: center;
            }
        }


        .webmaster {
            position: absolute;
            right: 1%;
            bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            margin: 0px;
            font-size: 0.8rem;
            border-radius: 10px;

            @media all and (max-width: $mobile-size) {
                display: none;
            }

            span {
                text-decoration: underline;
            }

            .bmc {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 5px;

                    img {
                        width: 60%;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}