footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: rgb(228, 220, 220);

    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__icone {
            position: absolute;
            right: 5%;
            top: 15%;
            margin: 0px;

            @media all and (min-width: $mobile-size) and (max-width: $tablet-size) {
                
            }
        }

        &__inscription {

            @media all and (min-width: $mobile-size) and (max-width: $tablet-size) {
                width: 50%;
                text-align: center;
            }

            p {
                position: relative;
                font-size: 1.2rem;
                margin: 10px 0px;
            }

            input[type=email],
            input[type=text] {
                width: 300px;
                height: 30px;
                padding: 5px;
                margin-right: 5px;
                border-radius: 50px;
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media all and (min-width: $mobile-size) and (max-width: $tablet-size) {
            width: 50%;
            text-align: center;
        }
    }

    .weather {
        position: absolute;
        left: 3%;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;

        @media all and (min-width: $mobile-size) and (max-width: $tablet-size) {
            width: 150px;
        }

        h3 {
            margin: 0px;

            @media all and (min-width: $mobile-size) and (max-width: $tablet-size) {
                font-size: 1.2rem;
            }
        }

        &__infos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .webmaster {
        position: absolute;
        right: 1%;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin: 0px;
        font-size: 0.8rem;
        border-radius: 10px;

        span {
            text-decoration: underline;
        }

        .bmc {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 5px;

                img {
                    width: 60%;
                    border-radius: 20px;
                }
            }
        }
    }
}