.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    animation: opacity 4s forwards;
    z-index: 2;

    .voiture-course {
        position: absolute;
        top: 50%;
        left: -15%;
        animation: voiture 2.5s ease-in-out forwards;
    }

    @media all and (max-width: $mobile-size) {
        display: none;
    }
}