.desktop-nav {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 100%;
    user-select: none;

    @media all and (max-width: $mobile-size) {
        display: none;
    }

    .desktop-nav-container {
        display: flex;
        justify-content: space-between;
        

        ul {
            display: flex;
            justify-content: space-between;

            @media all and (min-width: $mobile-size) and (max-width: $tablet-size) {
                padding: 0px 10px;
            }

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 100%;

                @media all and (min-width: $mobile-size) and (max-width: $tablet-size) {
                    width: 120px;
                }

                &:hover {
                    background-color: lighten($color: $background-color1, $amount: 20);
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    color: $font-color2;
                }
            }
        }
    }

    .social-network {
        display: flex;
        justify-content: center;
        align-items: center;

        @media all and (max-width: $mobile-size) {
            display: none;
        }

        p {
            margin: 0px;
            padding-right: 10px;
            text-align: center;
            color: $font-color2;

            @media all and (max-width: $tablet-size) {
                display: none;
            }
        }

        a {
            transition: 0.3s;

            &:hover {
                transform: scale(1.15);
            }

            img {
                width: 40px;
                
            }
        }
    }

    .nav-active {
        transform: scale(1.3);
        color: darken($color: $font-color2, $amount: 10) !important;
        font-weight: bold;
        text-decoration: underline;

        @media all and (min-width: $mobile-size) and (max-width: $tablet-size) {
            transform: none;
        }
    }
}