// ---------- TYPOGRAPHY ----------

$font-color1 : black;
$font-color2 : rgb(221, 45, 45); // Links nav-bar

$background-color1 : rgba(0, 0, 0, 0.801); // header-container

$tablet-size: 1000px;
$mobile-size : 768px;
$min-size: 500px;

* {
    box-sizing: border-box;
    object-fit: cover;
    scroll-behavior: smooth;
    color: $font-color1
}

body {
    background: fixed center/cover url("../../public/img/route.jpg");
    max-width: 1400px;
    height: 100vh;
    margin: auto;

    @media all and (max-width: $mobile-size) {
        background: gainsboro;
    }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 40px;
    background-color: white;

    @media all and (max-width: $mobile-size) {
        padding: 0px;
    }
}

.bloc {
    padding: 40px 0px;
}

h1 {
    font-size: 3rem;
    text-align: center;

    @media all and (max-width: $mobile-size) {
        font-size: 2rem;
    }

    @media all and (max-width: $mobile-size) {
        font-size: 1.6rem;
    }
}

h2 {
    position: relative;
    text-align: center;
    font-size: 2rem;
    margin: 0px 0px 40px;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 110%;
        height: 4px;
        transform: translateX(-50%);
        background-color: rgb(164, 162, 162);
    }

    @media all and (max-width: $mobile-size) {
        font-size: 1.3rem;
    }
}

h3 {
    font-size: 1.5rem;

    @media all and (max-width: $mobile-size) {
        font-size: 1.2rem;
    }
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

figure {
    margin: 0px;

    figcaption {
        text-align: center;
    }
}

table {
    margin: 0px;
}

// ---------- KEYFRAMES ----------

@keyframes voiture {
    to {
        left: 100%;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    99% {
        z-index: 2;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}