// ---------- TYPOGRAPHY ----------

$font-color1 : black;

* {
    box-sizing: border-box;
    object-fit: cover;
    scroll-behavior: smooth;
    color: $font-color1
}

body {
    background: fixed no-repeat url("../../public/img/route2.jpg");
    max-width: 1400px;
    height: 100vh;
    margin: auto;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 40px;
    background-color: white;
}

.bloc {
    padding: 40px 0px;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 2rem;
    margin-top: 0px;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 110%;
        height: 4px;
        transform: translateX(-50%);
        background-color: rgb(164, 162, 162);
    }
}

h3 {
    font-size: 1.5rem;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

figure {
    margin: 0px;

    figcaption {
        text-align: center;
    }
}

table {
    margin: 0px;
}

// ---------- KEYFRAMES ----------

@keyframes voiture {
    to {
        left: 100%;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    99% {
        z-index: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}