$font-color1 : black;


* {
    box-sizing: border-box;
    object-fit: cover;
    scroll-behavior: smooth;
    color: $font-color1
}

body {
    background: fixed no-repeat url("../../public/img/route2.jpg");
    max-width: 1400px;
    height: 100vh;
    margin: auto;
}

section {
    padding: 40px 20px;
    background-color: white;
    border-radius: 20px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

figure {
    margin: 0px;

    figcaption {
        text-align: center;
    }
}

table {
    margin: 0px;
}