.home-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    .home-title {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 50px;

        .home-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;

            img {
                width: 100%;
            }
        }
    }

    .last-news-container {
        h2 {

            &::after {
                width: 80%;
            }
        }
    }
}