.home-container {

    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

        .home-title {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;

            .home-img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 960px;

                img {
                    width: 100%;
                }
            }
        }
    }
}